@import "../../assets/sass/vars"

.user-form
  display: flex
  flex-wrap: wrap

  label
    flex-basis: 100%
    display: flex

    input
      border: none
      outline: none
      padding: 5px 10px
      border-bottom: 1px solid $main-color-darken
