@import "../../assets/sass/vars"

.user-form
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: baseline

  label
    flex-basis: 100%
    display: flex

    input
      border: none
      outline: none
      padding: 5px 10px
      border-bottom: 1px solid $main-color-darken

  .validation-tip
    padding: 10px
    border-radius: 5px
    color: white
    text-align: center
    margin-left: 30px

  .valid
    background-color: green

  .unvalid
    background-color: red

button
  padding: 15px
  outline: none
  border: none
  background-color: $main-color
  border-radius: 10px
  font-size: .8rem
  text-transform: uppercase
  color: white
  cursor: pointer
  transition: .25s
