<div class="wrapper">
  <div class="row"></div>
  <form [formGroup]="userData" class="user-form">
    <label class=" m-b-20">
      <span class="column-desktop-1-4">Name:</span>
      <input class='column-desktop-1-2' type="text" formControlName="name" required="name is required">
      <span class="column-desktop-1-4 validation-tip unvalid" *ngIf="!name.valid">
        name is not valid
      </span>
      <span class="column-desktop-1-4 validation-tip valid" *ngIf="name.valid">name is valid!</span>
    </label>
    <label class=" m-b-20">
      <span class="column-desktop-1-4">Email:</span>
      <input class='column-desktop-1-2' type="email" formControlName="email" required="email is required">
      <span class="column-desktop-1-4 validation-tip unvalid" *ngIf="!email.valid">email is not valid</span>
      <span class="column-desktop-1-4 validation-tip valid" *ngIf="email.valid">email is valid!</span>
    </label>
    <label class=" m-b-20">
      <span class="column-desktop-1-4">Age:</span>
      <input class='column-desktop-1-2 age-input' type="text" formControlName="age" required="age is required"
      placeholder="dd.mm.yyyy">
      <span class="column-desktop-1-4 validation-tip unvalid" *ngIf="!age.valid">age is not valid</span>
      <span class="column-desktop-1-4 validation-tip valid" *ngIf="age.valid">age is valid!</span>
    </label>
    <label class=" m-b-20">
      <span class="column-desktop-1-4">Salary:</span>
      <input class='column-desktop-1-2' type="text" formControlName="salary" required="salary is required"
      (keydown)="numberInput($event)">
      <span class="column-desktop-1-4 validation-tip unvalid" *ngIf="!salary.valid">salary is not valid</span>
      <span class="column-desktop-1-4 validation-tip valid" *ngIf="salary.valid">salary is valid!</span>
    </label>
  </form>
  <p>
    <button (click)="showData()">Show form data</button>
  </p>
  <div class="form-data" *ngIf="showFormData">
    <ul>
      <li>{{name.value}}</li>
      <li>{{email.value}}</li>
      <li>{{age.value | agePipe}}</li>
      <li>{{salary.value | currency:'KGS'}}</li>
    </ul>
  </div>
  <p>
    <button (click)="fullInData()">Fill info</button>
  </p>
  <p>
    Form Status: {{ userData.status }}
  </p>

</div>
